   .img,img {
      height:500px;
      }
      .manu{
      overflow: hidden;
      background-color: #102431;
      }
      .manu a {
      float: left;
      
      text-align: center;
      padding: 30px 40px;
      text-decoration: none;
      font-size: 24px;
      margin-right: 80px;
      color:Green;
      
      }
      .main p{
      overflow: hidden;
      margin:50px;
      }
      
      .left{
      width:15%;
      background-color:#261936;
      height:270px;
      }
      .left a{
      text-decoration:none;
      color: lightcoral;
      margin:35px;
      }
      .main{
      width:80%;
      float:right;
      margin-top:-200px;
      height:200px;
      
      }
      .news{
      height:100px;
      width:100%;
      background-color:#ebebe0;
      
      }
      .footer{
      width:100%;
      background-color:#4e4e32;
      height:50px;
      text-align: center;
      }
      .footer label{
      margin-top:20px;
      }
      .new{
      margin-top:30px;
      
      
      font-size:25px;
      
      }
      .content{
      margin-top:-23px;
      }