body
{
    background-color:rgb(243, 242, 226);
}
p
{
    color:purple;
    font-family: cursive;
    font-size:150%;
    border:solid powderblue;
    padding:1px;
    margin:10px;
}
a:link, a:visited {
    color:rgb(41, 56, 41);
    background-color:transparent;
    text-decoration:none;
    text-align:center;
    display:inline-block;
    padding:15px 25px;
}
a:hover , a:active{
    background-color:red;
}