body
    {
        background-image: url("images/scat.jpg");
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
    }

p
{
    color:purple;
    font-family: cursive;
    font-size:150%;
    /*border:solid powderblue;*/
    padding:1px;
    margin:5 px;
    
}
p::first-letter{
    color:teal;
    font-size: xx-large;
}
a:link {
    color:purple;
    background-color:transparent;
    text-decoration:underline;
    font-family:cursive;
}
a:visited
{
    color:darkcyan;
    background-color:transparent;
    text-decoration:underline;
    font-family:cursive;
}

h2
{
   /* border: solid powderblue;*/
    font-family:cursive;
    font-size:150%;
    padding:1px;
    margin:10px;
    color:purple;
}

table , th, td {
    border:1px solid black;
    text-align:center;
    background-color:cadetblue;
    opacity:0.8;
}
#t01 {
    width:100%;
    border-spacing:5px;
}
th{
    background-color:cadetblue;
    height:50px;
    /*text-align:left;*/
    padding:15px;
}
td{
height:50px;
padding:15px;
}

ul{

    /*list-style-type : circle;*/
    background :cadetblue;
    padding: 20px;
    opacity:0.8;
   /* margin-left: 600px;*/
   /* margin-right:500px;*/

}
ul li
{
    background:white;
   /* padding: 5px;*/
    margin:5px;
}
h1
{
    opacity:0.6;
}
img
{
    opacity:0.6;
}
caption
{
    font-family: monospace;
    font-size: xx-large;
    color:cadetblue;
    border:solid cadetblue;
    background-color:black;
}

div.b{
    background-image: url("images/catland2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

div.a{
    background-image: url("images/scatgif.gif");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: 0vmax;
    

}
span{
    color:cadetblue;
    border:1px solid cadetblue;
    background-color: chartreuse;
    width: 100px;
    height: 100px;
    padding: 5px;
}
#B1
{
    border:1px solid cadetblue;
    text-align: center;

}
